.InsecticidesCard{
    width: 310px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fc6666;
    background-image: url(../../../../public/Assets/FERTILAZERS/mol75.jpg);
    border-radius: 20px;
}

.InsecticidesCard img{
    width: 250px;
    height: 350px;
}

.InsecticidesCard h3{
    color: white;
}

.HerbecidCard p{
    width: 100%;
    color: white;
    font-weight: 400;
}


.AboutPProduct{
    color: white;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

.CountryP{
    text-align: center;
    text-shadow: 5px 5px 5px black;
    color: white;
}