.ProductList{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: rgba(221,211,209,255);
}

.productListItem{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

@media (max-width:350px) {
    .ProductList{
        height: auto;
    }
}